.background{
  height: 100vh;
  background-color: #DBDBD1;
  padding: 24px 0; 
}

.container{
  background-color: #EAEAEA;
  height: 100%;
}

div{
  border: 1px solid black;
}

.top-bar, .bottom-bar{
  height: 70px;  
}

.notifiche{
  background-color: #8EDAFC;
  height: 80px;
}

.ricerca{
  height: 60px;
  padding: 8px;
}

.chat-list{
  background-color: white;
  height: calc(100% - 210px)
}

.main-chat{
  height: calc(100% - 140px);
}

.profile-pic{
  border-radius: 50%;
}

.text-bar{
  background-color: white;
  width: 80%;
}

.profile-pic{
  height: 50px;
  width: 50px;
}

.profile-pic img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
}

.settings i{
  color: #B1B1B1;
  font-size: 1.5rem;
  margin: 0 5px;
}

.bell{
  background-color: white;
  border-radius: 50%;
  padding: 16px 15px;
  margin-right: 5px;
}

.bell i{
  color: #8EDAFC;
  font-size: 1.5rem;
}

.subtitle{
  color: #678291;
  font-size: 0.9rem;
  text-decoration: underline;
}




