<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="css/style.css">

  <script src="https://kit.fontawesome.com/66b933bf5d.js" crossorigin="anonymous"></script>

  <script src="
  https://cdn.jsdelivr.net/npm/luxon@3.4.3/build/global/luxon.min.js
  "></script>

  <title>Boolzap</title>
</head>
<body>
  <section class="background">
    <div id="app" class="container d-flex">

      <div class="col-5 contacts d-flex flex-column">
        <div class="top-bar d-flex justify-content-between align-items-center p-3">
          <div class="user d-flex align-items-center ">
            <div class="profile-pic">
              <img src="img/avatar_io.jpg" alt="">
            </div>
            <span class="mx-2">Veronica</span>
          </div>
          <div class="settings">
            <i class="fa-solid fa-circle-notch"></i>
            <i class="fa-solid fa-message"></i>
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </div>
        </div>

        <div class="notifiche d-flex align-items-center p-3">
          <div class="bell">
            <i class="fa-solid fa-bell-slash"></i>
          </div>
          <div>
            <span class="fw-bold">Ricevi notifiche di nuovi messaggi</span><br>
            <span class="subtitle">Attiva notifiche desktop</span>
          </div>
        </div>

        <div class="ricerca">
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1">
              <i class="fa-solid fa-magnifying-glass"></i>
            </span>
            <input type="text" class="form-control" placeholder="Cerca o inizia una nuova chat" aria-label="search" aria-describedby="basic-addon1">
          </div>
        </div>

        <div class="chat-list">
          <div v-for="contact in contacts" :class="{'chat-thumb-active': contact.clicked}" @click="(contact.clicked) = !(contact.clicked)" class="chat-thumb d-flex justify-content-between align-items-center p-3">
            <div class="d-flex">
              <div class="profile-pic me-3">
              <img :src="contact.avatar" alt="">
            </div>
            <div class="chat-list-text lh-1 ">
              <span class="fw-bold">{{contact.name}}</span><br>
              <span>Anteprima messaggio</span>
            </div>
            </div>
            <div>
              <span>12:00</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-7 chat">
        <div class="top-bar d-flex justify-content-between align-items-center p-3">
          <div class="user d-flex">
            <div class="profile-pic">Foto</div>
            <div>
              <span class="fw-bold">Nome</span><br> 
              <span>Ultimo accesso oggi alle 12:00</span>
            </div>
          </div>
          <div class="settings">
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-solid fa-paperclip"></i>
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </div>
        </div>

        <div class="main-chat p-4 clearfix">
          <div v-for="(message, index) in contacts[0].messages" class="message-container" :class="{'message-sent': message.status === 'sent', 'message-received': message.status === 'received'}">
            <span>{{message.message}}</span>
          </div>
        </div>

        <div class="bottom-bar d-flex justify-content-between align-items-center p-3">
          <div>
            <i class="fa-regular fa-face-smile"></i>
          </div>
          <div class="text-bar">
            <input type="text" v-model="newMessage.message" @keyup.enter="addMessage()" class="w-100 border-0 px-2" placeholder="Scrivi un messaggio">
          </div>
          <div>
            <i class="fa-solid fa-microphone"></i>
          </div>
        </div>
      </div>


    </div>
  </section>

  <script src="js/script.js"></script>
</body>
</html>